<h1 class="mt-4 text-center">Create a new category</h1>

<div class="container mt-4">
  
  <div class="row justify-content-center">

    <%= render 'form' %>

    <%= link_to 'Go to category', category_path(@category), method: :get, class: "btn btn-primary btn-lg" %>

  </div>

</div>